<div class="modal fade" id="eliminarProyectoModal-{{ proyecto.id }}" tabindex="-1" aria-labelledby="eliminarProyectoModalLabel-{{ proyecto.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ff0080ff; color: white;">
        <h5 class="modal-title" id="eliminarProyectoModalLabel-{{ proyecto.id }}">Eliminar proyecto</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que quieres eliminar el proyecto <strong>{{ proyecto.nombre }}</strong>?
        <br>
        Esto también eliminará todas las tareas asociadas.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-guapo2" data-bs-dismiss="modal">Cancelar</button>
        <form method="post" action="{% url 'eliminar_proyecto' proyecto.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-guapo">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>
